<!--<div class="parent"-->
<!--     fxLayout.sm="column"-->
<!--     fxLayout.xs="column"-->
<!--     fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--  <div fxFlex="30%" class="left" align="center">-->
<!--    <p> Copyright © 2021 DeWonderstruck </p>-->
<!--    <p> All rights reserved </p> </div>-->
<!--  <div fxFlex="40%" class="left" align="center">-->
<!--    <p>  </p>-->
<!--  </div>-->
<!--  <div fxFlex="20%" class="left" align="center">-->
<!--    <p> </p>-->
<!--  </div>-->
<!--  <div fxFlex="10%" class="right" align="center">Right</div>-->
<!--</div>-->

<!--<div class="button-container" align="right">-->
<!--  <button mat-flat-button color="primary" class="mdc-fab mdc-fab&#45;&#45;mini mdc-fab&#45;&#45;touch">-->
<!--    <span class="material-icons mdc-fab__icon">add</span>-->
<!--    <span class="mdc-fab__label">Create</span>-->
<!--  </button>-->
<!--</div>-->

<a href="https://dewonderstruck.com"> <p align="bottom" [class.mdd0-footer]="true" >© 2020-{{copyyr}} De Wonderstruck. All rights reserved.</p> </a>



