<h2 mat-dialog-title style="font-family: Poppins; font-weight: bolder; color: #474747">Humble Offerings & David Paul Foundation</h2>
<mat-dialog-content class="mat-headline" style="font-family: Poppins; font-size: 1.2em; width: 100%">

  <h3 style="font-family: Poppins;">Give honour to the Lord with your wealth, and with the first-fruits of all your increase: So your store-houses will be full of grain, and your vessels overflowing with new wine. <br>
    Proverbs 3:9-10
  </h3>
  <p><strong>For Bank Transfer</strong>
    <br>
    ACCOUNT NAME: Enosh Kumar
    <br>
    ACCOUNT NO : 5010 0364 2290 48
    <br>
    IFSC CODE : HDFC0009062
    <br>
    HDFC Bank
  </p>

  <p><strong>For More Details </strong>
    <br>
    9440585577,
    <br>
    9494515577</p>

  <p><strong>For Gpay & PhonePe</strong>
    <br>
   9440585577
  </p>
  <img src="assets/qr.jpeg">
  <div style="padding: 18px;"></div>
  <h3 mat-dialog-title style="font-family: Poppins; font-weight: bolder; font-size: medium; text-decoration: underline;">David Paul Foundation</h3>
  <h3 style="font-family: Poppins;">The generous will themselves be blessed, for they share their food with the poor. <br>
    Proverbs 22:9
  </h3>
  <p><strong> For Bank Transfer </strong>
    <br>
    ACCOUNT NAME: David Paul Foundation
    <br>
    ACCOUNT NO : 551 286 3327
    <br>
    IFSC CODE : KKBK0007628
    <br>
   Kotak Mahindra Bank
  </p>

  <p><strong> For More Details </strong>
    <br>
    9440585577,
    <br>
    9494515577</p>

  <p> <strong>For Gpay & PhonePe </strong>
    <br>
    9440585577
  </p>

  <img src="assets/qr.jpeg">


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close style="font-family: Poppins">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="openURL()" style="font-family: Poppins">Send Via UPI (mobile-only)</button>
</mat-dialog-actions>
