<section>
  <ng-container>
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="white"
      maxWidth="100%"
      slides="2"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      slideHeight="30%"
      maintainAspectRatio="true"
      proportion="55"
      orientation="ltr">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of data; let i = index"
        [image]="slide.coverimg"
        overlayColor="#00000040"
        [hideOverlay]="false">
        <div style="margin: auto;width: 50%;padding: 10px;">
          <!--          <h1 align="centre" style="background-color:#ffffff; padding: 10px;text-align: center;">Slide Number {{ i+1 }}</h1>-->
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </ng-container>
</section>
<section>
  <div fxHide.lt-md style="background: rgba(0, 0, 0, 10);">
    <h2 [class.sect-pry]="true" style="padding-top: 100px;">Women's Ministry</h2>
    <mat-card-content class="mat-card-content">
      <div class="containerX" style="flex-direction: row; box-sizing: border-box; display: flex;color: white">
        <div class="coloredContainerX box" fxflex="" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 0%;">
          <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;" [class.sect-prydec]="true">
            <p> The fact that your a woman does not make you a different kind
              of christian but the fact that you are a christian makes you a
              different kind of women.</p>
            <p style="text-align: left; padding-top: 24px;">
              Our Mission is *to Know- christ and make him known"
              Women ministry is an aim of offering women oppurtunities to
              grow in their faith and build friendship with women to worship
              our LORD and serve one another in love we give You a place of
              service as well as a place to grow in faith.
            </p>
            <p style="text-align: left; padding-top: 24px;">
              Every Year women's ministry plans o retreat for the women.
              grow close with GOD
              it is a great time of fellowship to spend time with one another as to grow close with GOD.
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>

  <div fxHide.gt-sm fxShow.lt-md style="background: rgba(0, 0, 0, 10);">
    <h2 [class.sect-pry]="true" style="padding-top: 100px;">Women's Ministry</h2>
    <mat-card-content class="mat-card-content">
      <div class="containerX" style="flex-direction: row; box-sizing: border-box; display: flex;color: white">
        <div class="coloredContainerX box" fxflex="" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 0%;">
          <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;" [class.sect-prydec]="true">
            <p>The fact that your a woman does not make you a different kind
              of christian but the fact that you are a christian makes you a
              different kind of women.</p>
            <p style="text-align: left; padding-top: 24px;">
              Our Mission is *to Know- christ and make him known"
              Women ministry is an aim of offering women oppurtunities to
              grow in their faith and build friendship with women to worship
              our LORD and serve one another in love we give You a place of
              service as well as a place to grow in faith.
            </p>
            <p style="text-align: left; padding-top: 24px;">
              Every Year women's ministry plans o retreat for the women.
              grow close with GOD
              it is a great time of fellowship to spend time with one another as to grow close with GOD.</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</section>
