<div fxLayout="column" fxLayoutAlign="center" [class.test]="true">
    <p [class.p-0]="true">Cell Church </p>
    <p style="color: white; font-family: 'Poppins';padding-top: 2%;">We as a Church believe in Cell Church.</p>

</div>

<div style="margin-top: 320px;" fxLayout="column" fxLayoutAlign="start"  fxLayoutGap>
  <div style="padding: 4%;">
    <h4 style="font-family: 'Poppins';font-weight: 600; font-size: 21px">Why We Believe In Cell Church <br>
      <h4 style="font-family: 'Poppins';padding-top: 1%">In Cell people develop a sense of belonging, joining and find a family outside their own personal family. Cell becomes their family of God. Our experience shows that people grow faster in Kingdom Values, and develop ownership and responsibility</h4>
    </h4>
    <h4 [class.h4f]="true"> Few Reasons Why To Join A Cell Church</h4>
    <ol [class.h4f]="true">
      <li>The Friendship Factor</li>
      <li style="margin-left: 2px;">The Challenge Factor</li>
      <li style="margin-left: 2px;">The Health Factor</li>
    </ol>
    <h4 [class.h4f]="true" style="padding-top: 24px; ">The Friendship Factor :-
      <br>
      <div style="padding-top: 4px;"></div>
      <p [class.h4f]="true" >a. In a Cell Group, you meet people that become lifelong friends. You find out that you are not alone...
        <br>
        1) In your struggles....
        <br>
        2) In your life.
        <br>
        3) You have support.
        <br>
        4) The Body of Christ really becomes like it is supposed to be.</p>
    </h4>


    <h4 [class.h4f]="true" style="padding-top: 24px">The Challenge Factor :-
      <br>
      <div style="padding-top: 4px;"></div>
      <p [class.h4f]="true" >
        Proverbs 27:17 As iron sharpens iron, so one man  <br>
        a) In a Cell group with accountable relationships
        sharpens another.
        <br>
        we are challenged by those who love us to move
        on toward what God has for us.
        <br>
        b) If this brings fear into your heart, be at peace.
        <br>
        c) It's hard to be complacent when you have a group of people continually encouraging you.
        Hebrews 10:24-25 And let us consider how to provoke one another to love and good deeds, (25) not neglecting to meet together, as is the habit of some, but encouraging one another, and all the more as you see the Day approaching.
       </p>
    </h4>

    <h4 [class.h4f]="true" style="padding-top: 24px">The Health Factor :-
      <br>
      <div style="padding-top: 4px;"></div>
      <p [class.h4f]="true" >
        a) Being involved in consistent, growing relationships that are based on Christ, generally improve our health in every way Spirit.
        <br>
        b) Soul.
        <br>
        c) Body.
        <br>
        We pray for each other every week. James 5:16 therefore confess your sins to each
        other and pray for each other so that you may be healed. The prayer of a righteous man is powerful and effective. James 5:14-15 is any one of you sick? He should call the elders of the church to pray over him and anoint him with oil in the name of the Lord. (15) And the prayer offered in faith will make the sick person well; the Lord will raise him up. If he has sinned, he will be forgiven.
      </p>
    </h4>

  </div>
</div>

<!--<div fxLayout="row" fxLayoutAlign="space-evenly center"  fxLayoutGap>-->
<!--  <div>-->
<!--    <mat-card matRipple [class.mat-c]="true">Simple card</mat-card>-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-card matRipple [class.mat-c]="true">Simple card</mat-card>-->
<!--  </div>-->
<!--</div>-->


