.example-spacer {
  flex: 1 1 auto;
}

.toolbar-font {
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: large;
}

.toolbar-md{
  z-index: -1 !important;
}

.spacer {
  flex: 1 1 auto;
}

.mat-btn {
  font-family: Poppins;
  font-weight: bold;
}



.mat-button-focus-overlay {
  background: rgba(255, 255, 255, 0.8)!important;
}

md-nav-bar .md-nav-bar {
  background: white;
}

.wh-container {
  background-color: white;
}

.mad-card {
  padding:20px;
  margin-top: 4%;
  margin-right: 8%;
  margin-bottom: 2%;
  max-width: 500px;
}

.menu-spacer {
  flex: 1 1 auto;
}
