@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: 'Poppins', "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */
mat-sidenav {
  width: 280px;
  padding:15px;
}
.mat-drawer {
  background-color: #023075;
  color:#fff
}
.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
