<section>
  <ng-container>
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="white"
      maxWidth="100%"
      slides="2"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      slideHeight="50%"
      maintainAspectRatio="true"
      proportion="55"
      orientation="ltr">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false">
      </mat-carousel-slide>
    </mat-carousel>
  </ng-container>
</section>


<section>
  <ng-container>
  <p [class.mt-font]="true" align="left">Watch</p>
  <p [class.mt-conttentfont]="true" align="left">Latest Sermons, Music & much more..</p>
  <div fxLayout="row wrap" fxLayout.xs="column"  fxLayout.sm="column" fxLayoutGap="16px" style="margin:24px;">
    <div fxFlex="31.5%" fxLayoutAlign="stretch flex-start" *ngFor="let o of data let i=index let isLast = last">
      <mat-grid-list cols="1" rowHeight="1:1">
      <a href="https://www.youtube.com/watch?v={{o.id}}" style="text-decoration: none;" >
          <mat-card mat-ripple style="height: 90% !important;position: relative;overflow: hidden;">
            <img mat-card-image src="https://i.ytimg.com/vi_webp/{{o.id}}/maxresdefault.webp" alt="{{o.title}}">
            <mat-card-content>
              <p [class.text-container]="true" >{{o.title}}</p>
            </mat-card-content>
          </mat-card>
      </a>
        <div *ngIf="isLast">
          <div class="flex-item"
               fxFlex fxLayoutAlign="end start" style="margin-top: 2%; padding-left: 5%;">
            <button fxLayoutAlign="end start" mat-button >
              <div fxFlex end></div>
              View More
              <mat-icon align="right" style="margin-top: 5%; padding-left: 5%;">east</mat-icon>
            </button>
          </div>
        </div>
      </mat-grid-list>
    </div>
  </div>
  </ng-container>
</section>


<section>
  <ng-container>
    <div style="background: rgba(0, 0, 0, 10);">
      <h2 [class.sect-pry]="true" style="padding-top: 180px;">Power In Prayer</h2>
      <mat-card-content class="mat-card-content">
        <div class="containerX" style="flex-direction: row; box-sizing: border-box; display: flex;color: white">
          <div class="coloredContainerX box" fxflex="" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 0%;">
            <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;" [class.sect-prydec]="true"> We get to communicate with our Lord, cry out to Him all of our Sufferings, fears and burdens; Romans 12:10-13 Be kindly affectionate to one another with brotherly love, in honor giving preference to one another; not lagging in diligence, fervent in spirit, serving the Lord; rejoicing in hope patient in tribulation, continuing steadfastly in prayer; distributing to the needs of the saints, given to hospitality.
              </div>
            </div>
        </div>
      </mat-card-content>
    </div>
  </ng-container>
</section>

<section>
  <ng-container>
    <p [class.mt2-font]="true" align="left">About</p>
    <p [class.mt-conttentfont]="true" align="left">Church & Ministry</p>
    <div fxLayout="row wrap" fxLayout.xs="column"  fxLayout.sm="column" fxLayoutGap="16px" style="margin:24px;">
      <div fxFlex="31.5%" fxLayoutAlign="stretch flex-start" *ngFor="let o of homedata let i=index let isLast = last">
        <mat-grid-list cols="1" rowHeight="1:1">
          <a [routerLink]="o.link" style="text-decoration: none;" >
            <mat-card mat-ripple style="height: 90% !important;position: relative;overflow: hidden;">
              <img mat-card-image src="{{o.coverimg}}">
              <mat-card-content>
                <p [class.htext-container]="true" >{{o.title}}</p>
                <p [class.text-container]="true" >{{o.description}}</p>
              </mat-card-content>
            </mat-card>
          </a>
          <div *ngIf="isLast">
            <div class="flex-item"
                 fxFlex fxLayoutAlign="end start" style="margin-top: 2%; padding-left: 5%;">
              <button fxLayoutAlign="end start" mat-button >
                <div fxFlex end></div>
                Learn More
                <mat-icon align="right" style="margin-top: 5%; padding-left: 5%;">east</mat-icon>
              </button>
            </div>
          </div>
        </mat-grid-list>
      </div>
    </div>
  </ng-container>
</section>

<section>

  <p [class.mt2-font]="true" align="left">FAQs</p>
  <p [class.mt-conttentfont]="true" align="left"></p>
  <div style="padding-top:  14px; padding-bottom: 24px;">
    <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description style="font-family: Poppins; color: black">
          How many services are there?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>We run 4 services at different locations.</p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description style="font-family: Poppins; color: black">
          What are church service timings?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p [class.accordp]="true">1st - 6am To 9am </p>
      <p [class.accordp]="true">2nd - 9:30am To 12:30pm</p>
      <p [class.accordp]="true">3rd - 11:30am To 1:30pm</p>
      <p [class.accordp]="true">4th - 4pm To 6pm</p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description style="font-family: Poppins; color: black">
          Is there an all night prayer service?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p [class.accordp]="true">Yes! there's the all night prayer service every month second saturday.</p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description style="font-family: Poppins; color: black">
          When's the womens gatherning?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p [class.accordp]="true">Everyday 10am To 12:30pm</p>
      <p [class.accordp]="true">EveryFriday 11am To 1pm</p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description style="font-family: Poppins; color: black">
          When's the youth conference?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p [class.accordp]="true">Yes! We do so once a month on a public holiday 10am to 4pm (lunch follows)</p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description style="font-family: Poppins; color: black">
          When's the men's gatherning?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p [class.accordp]="true">EveryThursday 10am To 12:30pm</p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

</section>



<!-- oscuratore -->
<div class="dialog_scrim" *ngIf="openMenu">
</div>

<button mat-fab color="accent" (click)="clickMenu()"
        class="menu-button"
        [class.mat-elevation-z2]="!isOver"
        [class.mat-elevation-z8]="isOver"
        (mouseover)="isOver = true"
        (mouseleave)="isOver = false">
  <mat-icon class="material-icons" *ngIf="!openMenu" svgIcon="heart"></mat-icon>
  <i class="material-icons" *ngIf="openMenu">close</i>
</button>

<!--<button class="extended-fab-button" mat-fab color="primary">-->
<!--  <mat-icon>speaker_notes</mat-icon>-->
<!--  <span class="extended-fab-button__text">Notes</span>-->
<!--</button>-->

<!-- menu button -->
<button mat-mini-fab
        class="action-button one mat-elevation-z8"
        *ngIf="openMenu"
        color="basic"
        (click)="openDialog()">
  <mat-icon class="material-icons" svgIcon="coin2"></mat-icon>
</button>

<button mat-raised-button
        class="label labelone mat-elevation-z8 "
        *ngIf="openMenu"
        color="basic"
        (click)="openDialog()">
  David Paul Foundation
</button>

<button mat-mini-fab
        class="action-button two mat-elevation-z8"
        *ngIf="openMenu"
        color="basic"
        (click)="openDialog()">
  <mat-icon class="material-icons" svgIcon="coin2"></mat-icon>
</button>
<button mat-raised-button
        class="label labeltwo mat-elevation-z8"
        *ngIf="openMenu"
        color="basic"
        (click)="openDialog()">
  Humble Offerings
</button>


